{% extends 'base.html' %}
{% load static app_extras %}

{% block title %}Petrol Trades{% endblock %}

{% block css_block %}
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static "fonts/feather-font/css/iconfont.css" %}">
    <link rel="stylesheet" href="{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static "css/demo_1/style.css" %}">
    <!-- End layout styles -->
{% endblock %}

{% block body_content %}
    <div class="page-content">

        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Petrol</a></li>
                <li class="breadcrumb-item active" aria-current="page">Petrol Trades</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Benzin Savdosi Qo'shish</h6>
                        <form action="{% url 'trade_add' %}" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Mashina</label>
                                        <div id="the-cars">
                                            <input value="{{ form|get_item:'car' }}" name="car" required="required" class="typeahead" type="text" placeholder="Mashina Raqami">
                                        </div>
                                    </div>
                                </div><!-- Col -->
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Benzin</label>
                                        <div id="the-petrols">
                                            <input value="{{ form|get_item:'petrol' }}" name="petrol" required="required" class="typeahead" type="text" placeholder="Benzin Nomi">
                                        </div>
                                    </div>
                                </div><!-- Col -->
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">Sotilgan Litr</label>
                                        <input name="litre" required="required" type="number" class="form-control" placeholder="Enter in Integers">
                                    </div>
                                </div><!-- Col -->
                            </div><!-- Row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Kun</label>
                                        <div class="input-group date datepicker" id="datePickerExample">
                                            <input name="tradeDateTime_0" type="text" class="form-control"><span class="input-group-addon"><i data-feather="calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Soat</label>
                                        <div class="input-group date timepicker" id="datetimepickerExample" data-target-input="nearest">
                                            <input name="tradeDateTime_1" type="text" required="required" class="form-control datetimepicker-input" data-target="#datetimepickerExample"/>
                                            <div class="input-group-append" data-target="#datetimepickerExample" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i data-feather="clock"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Row -->
                            <button type="submit" class="btn btn-primary submit">Submit form</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Benzin Savdolari Ro'yxati</h6>
                        <div class="table-responsive">
                            <table id="dataTableExample" class="table">
                                <thead>
                                <tr>
                                    <th>Mashina</th>
                                    <th>Model</th>
                                    <th>Sotilgan Litr</th>
                                    <th>Savdo Summasi</th>
                                    <th>Benzin</th>
                                    <th>Kun Soat</th>
                                    {% if user|is_manager %}<th>Delete</th>{% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for trade in trades %}
                                    <tr>
                                        <td>{{ trade.car.carNumber }}</td>
                                        <td>{{ trade.car.model }}</td>
                                        <td>{{ trade.litre|floatformat:1 }} L</td>
                                        <td>{{ trade.price|floatformat:2 }} UZS</td>
                                        <td>{{ trade.petrol }}</td>
                                        <td>{{ trade.tradeDateTime|date:"Y.m.d H:i" }}</td>
                                        {% if user|is_manager %}
                                        <td><a href="{% url 'trade_delete' %}" title="{{ trade.pk }}" id="Delete{{ forloop.counter }}" class="editor_remove">Delete</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts_block %}
    <!-- core:js -->
    <script src="{% static "vendors/core/core.js" %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static "vendors/typeahead.js/typeahead.bundle.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "vendors/moment/moment.min.js" %}"></script>
    <script src="{% static "vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js" %}"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static "vendors/feather-icons/feather.min.js" %}"></script>
    <script src="{% static "js/template.js" %}"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="{% static "js/typeahead.js" %}"></script>
    <script src="{% static "js/datepicker.js" %}"></script>
    <script src="{% static "js/timepicker.js" %}"></script>

    <script src="{% static "vendors/datatables.net/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.js" %}"></script>
    <script src="{% static "vendors/js-coockie/js.cookie.min.js" %}"></script>
    <script src="{% static "js/data-table.js" %}"></script>
    <script>
      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;

          // an array that will be populated with substring matches
          matches = [];

          // regex used to determine if a string contains the substring `q`
          var substrRegex = new RegExp(q, 'i');

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          for (var i = 0; i < strs.length; i++) {
            if (substrRegex.test(strs[i])) {
              matches.push(strs[i]);
            }
          }

          cb(matches);
        };
      };
      var petrol_list = [
          {% for petrol in petrol_list %}
              "{{ petrol }}"
              {% if not forloop.last %},{% endif %}
          {% endfor %}
      ];

      var cars = [
          {% for car in cars %}
              "{{ car }}"
              {% if not forloop.last %},{% endif %}
          {% endfor %}
      ];

      $('#the-cars .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'cars',
        source: substringMatcher(cars)
      });

      $('#the-petrols .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'petrol_list',
        source: substringMatcher(petrol_list)
      });
    </script>
    <!-- end custom js for this page -->
{% endblock %}

